<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OQM</display-name>
  <welcome-file-list>
    <welcome-file>LandingPage.jsp</welcome-file>
    
  </welcome-file-list>
 <servlet>
    <description></description>
    <display-name>OqmController</display-name>
    <servlet-name>OqmController</servlet-name>
    <servlet-class>com.oqm.controller.OqmController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OqmController</servlet-name>
    <url-pattern>/OqmController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionController</display-name>
    <servlet-name>QuestionController</servlet-name>
    <servlet-class>com.oqm.controller.QuestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionController</servlet-name>
    <url-pattern>/QuestionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionBean</display-name>
    <servlet-name>QuestionBean</servlet-name>
    <servlet-class>com.oqm.bean.QuestionBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionBean</servlet-name>
    <url-pattern>/QuestionBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionService</display-name>
    <servlet-name>QuestionService</servlet-name>
    <servlet-class>com.oqm.service.QuestionService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionService</servlet-name>
    <url-pattern>/QuestionService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestController</display-name>
    <servlet-name>TestController</servlet-name>
    <servlet-class>com.oqm.controller.TestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestController</servlet-name>
    <url-pattern>/TestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestController1</display-name>
    <servlet-name>TestController1</servlet-name>
    <servlet-class>com.oqm.controller.TestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestController1</servlet-name>
    <url-pattern>/TestController1</url-pattern>
  </servlet-mapping>
</web-app>